.o_rate_manager {
    background-color: white;
    height:100%;
    display:flex;

    tr {
        line-height: 1em;
        min-height: 1em;
        height: 1em;
    }

    .form-control {
        padding: 0em 0em;
        color: $black;
    }

    .o_input {
        line-height: 1em;
    }
}


div.dropdown > div.caption {
  padding: 5px 22px 0px 28px;
  border-radius: 3px;
  cursor: pointer;
  max-width: 138px;
  font-weight: bold;
}

div.dropdown > div.list {
  position: absolute;
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 0 0 3px 3px;
  display: none;
  z-index:9999;
  min-width: 140px;
}

div.dropdown > div.list > div.item {
  padding: 11px 24px;
  cursor: pointer;
}

div.dropdown > div.list > div.item.selected {
  font-weight: bold;
}

div.dropdown > div.caption:hover,
div.dropdown > div.list > div.item:hover {
  background-color: rgb(83, 161, 214);
}

div.dropdown.open > div.caption {
  border-radius: 3px 3px 0 0;
  border-bottom: solid 1px #999;
}

div.dropdown.open > div.list {
  display: block;
}

input.text-right.form-control.cell {
    border-color: rgba(0,0,0,0.2);
    padding: 3px;
    box-sizing: border-box;
    text-align: center !important;
}
input.text-right.form-control.cell.input_green {
    background: #00bba0;
    border-color: #079984;
}
input.text-right.form-control.cell.input_yellow {
    background: #fbbb00;
    border-color: #f5ba0e;
}
input.text-right.form-control.cell.input_red {
    background: #ff5a4b;
    border-color: #ed4435;
}
.o_rate_manager table tbody th[scope="col"]:first-child {
    background: #f8f9fa;
}

div.justify-content-between {
  column-gap: 5px !important;
}



.o_sidebar {
    width: 300px;
    height: 100%;
    border-right: 1px solid #dee2e6;
    transition: transform 0.3s ease; /* Smooth transition */
    transform: translateX(0); /* Sidebar visible by default */
}

.o_sidebar .list-group-items {
    border-bottom: 1px solid rgba(0, 0, 0, 0.225);
    background: #e6f2f3;
    display: flex;
    align-items: center;
    min-height: 100px;
    border-radius:6px;
}

.o_sidebar .list-group-items:hover {
 background: #c1d0d1;
}
.o_sidebar .active {
 background: #99d6db;
}

.o_sidebar .active:hover {
 background: #99d6db;
}



.o_sidebar .list-group-items .delete-button{
    place-items: center;
    display: grid;
    position:absolute;
    bottom:10px;
    right: 5px;
    background-color: indianred;
    border: none;
    border-radius: 50%;
    color: white;
    height:25px;
    cursor: pointer;
}

.o_sidebar .list-group-items .edit-button{
    place-items: center;
    display: grid;
    position:absolute;
    top:10px;
    right: 5px;
    border: none;
    background-color: teal;
    border-radius: 50%;
    color: white;
    height:25px;
    cursor: pointer;
}
.o_sidebar .list-group-items .edit-button:hover{
    background-color:#015e5e;
}
.o_sidebar .list-group-items .delete-button:hover{
    background-color:#d62f2f;
}

 #list-group::-webkit-scrollbar {
    width: 4px;
}
 #table_body::-webkit-scrollbar {
    width: 4px;
}

#table_body #list-group::-webkit-scrollbar-thumb {
    background-color: #dacaca;
    border-radius: 6px;
}
#table_body::-webkit-scrollbar-thumb {
    background-color: #dacaca;
    border-radius: 6px;
}


.custom-table {
            display: flex;
            flex-direction: column;
            border: 1px solid #ddd;
            margin: 0px auto;
            width:100%;
        }

        /* Header styling */
        .custom-table-header {
            display: flex;
            background-color: #f5f5f5;
            padding: 10px;
            font-weight: bold;
            gap:20px
        }

        .custom-table-header div {
            flex: 1;
            text-align: left;
            padding: 0 10px;
            border-right: 1px solid #ddd;
        }

        .custom-table-header div:last-child {
            border-right: none;
        }

        /* Row styling */
        .custom-table-row {
            display: flex;
            border-top: 1px solid #ddd;
            padding: 10px;
            gap:20px;
        }

        .custom-table-row div {
            flex: 1;
            padding: 0 10px;
            border-right: 1px solid #ddd;
        }

        .custom-table-row div:last-child {
            border-right: none;
        }

        /* Hover effect on rows */
        .custom-table-row:hover {
            background-color: #f9f9f9;
        }

.o_view_nocontent1 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(at 50% 50%, white 0px, rgba(255, 255, 255, 0.5) 100%);
}
.o_view_nocontent_smiling_face1 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#sqlDataTypes, #mandatory {
    display: block;
    width: 100%;
    font-size: 13px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}


.configuration_input{
    max-width: 50%;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 10px;
}

.sidebar-toggle-btn {
    border-radius: 0.25rem;
    border: 1px solid gray;
    padding: 0px 13px;
    color: black;
    cursor: pointer;
}